.banner {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXKc2lhfkSb9EF7hCSkFotpgJGisfLD0PeEw&s);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}
