.banner {
background-image: url(https://www.smkn4-tsm.sch.id/images/n4_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}
